/* Global styles */

body {
    background-color: #00537E;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #62A658;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 1200px; /* Optional: Limits the width of the container */
}

header {
    background-color: #000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds space between navigation items */
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #B07067;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #AEDBDE;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    max-width: 800px; /* Optional: Limits the width of the section */
    text-align: justify; /* Aligns text to the left */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #62A658;
}

main h2 {
    text-align: center;
}

footer {
    background-color: #000;
    color: #472525;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/* Form Styles */

form {
    background-color: #62A658;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #B07067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #AEDBDE;
}

/* Button Styles */

button {
    background-color: #B07067;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #AEDBDE;
}

/* Responsive Styles */

@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 10px;
    }

    main section {
        padding: 10px;
    }
}